
@{
    ViewData["Title"] = "訂單管理";
}

<div class="h3 bgmainbar text-center">訂單管理</div>

<form style="margin:5px" name="conditions" id="conditions">
    <capital style="font-weight:700">搜尋條件</capital>
    <div class="input-group" style="margin-top:3px">
        <div class="input-group-prepend">
            <span class="input-group-text">訂貨日期</span>
        </div>
        <input type="date" aria-label="SelOrderMin" id="SelOrderMin" name="SelOrderMin" class="form-control col-2" placeholder="開始期間" value="@DateTime.Today.AddMonths(-2).ToString("yyyy-MM-dd")">
        <input type="date" aria-label="SelOrderMax" id="SelOrderMax" name="SelOrderMax" class="form-control col-2" placeholder="結束期間" value="@DateTime.Today.AddMinutes(1).ToString("yyyy-MM-dd")">

        <div class="input-group-prepend">
            <span class="input-group-text">出貨日期</span>
        </div>
        <input type="date" aria-label="SelDelMin" id="SelDelMin" name="SelDelMin" class="form-control col-2" placeholder="開始期間" disabled="disabled" value="@(DateTime.Today.AddMonths(-2).ToString("yyyy-MM-dd"))">
        <input type="date" aria-label="SelDelMax" id="SelDelMax" name="SelDelMax" class="form-control col-2" placeholder="結束期間" disabled="disabled" value="@(DateTime.Today.AddMinutes(1).ToString("yyyy-MM-dd"))">
      
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <select id="SelOrderStatus" class="btn btn-light" name="SelOrderStatus">
                <option value="訂單狀態">訂單狀態</option>
                @if (ViewBag.orderstatus == "待付款")
                {
                    <option value="待付款" selected>待付款</option>
                }
                else
                {
                    <option value="待付款">待付款</option>
                }
                @if (ViewBag.orderstatus == "已付款")
                {
                    <option value="已付款" selected>已付款</option>
                }
                else
                {
                    <option value="已付款">已付款</option>
                }
                @if (ViewBag.orderstatus == "出貨中")
                {
                    <option value="出貨中" selected>出貨中</option>
                }
                else
                {
                    <option value="出貨中">出貨中</option>
                }
                @if (ViewBag.orderstatus == "已送達")
                {
                    <option value="已送達" selected>已送達</option>
                }
                else
                {
                    <option value="已送達">已送達</option>
                }
                @if (ViewBag.orderstatus == "已取消")
                {
                    <option value="已取消" selected>已取消</option>
                }
                else
                {
                    <option value="已取消">已取消</option>
                }

            </select>
        </div>


        <input type="text" aria-label="SelOrderID" id="SelOrderID" name="SelOrderID" class="form-control col-2" placeholder="訂單編號" value="@ViewBag.orderiD">
        <input type="text" aria-label="SelMember" id="SelMember" name="SelMember" class="form-control col-2" placeholder="會員姓名" value="">
        <input type="text" aria-label="SelPhone" id="SelPhone" name="SelPhone" class="form-control col-2" placeholder="電話/手機號碼" value="@ViewBag.cellnumber">
        <input type="text" aria-label="SelEmail" id="SelEmail" name="SelEmail" class="form-control col-3" placeholder="電子信箱" value="@ViewBag.email">
    </div>
    <div class="input-group">
        <input type="button" value="搜尋" class="btn btn-outline-secondary col-2" id="btnsearch" />
        <input type="button" value="清除搜尋條件" class="btn btn-outline-secondary col-2" id="btnclear" />
        <input type="button" value="匯出訂單清單" class="btn btn-outline-success col-2" id="btnexcel" />
    </div>
</form>
<div>
    <table class="table table-hover" style="text-align:center" id="datatablesSimple">
        <thead>
            <tr>
                <th>變更訂單狀態</th>
                <th>序號</th>
                <th>訂單編號</th>
                <th>會員編號</th>
                <th>會員姓名</th>
                <th>電話/手機號碼</th>
                <th>訂單日期</th>
                <th>出貨日期</th>
                <th>訂單狀態</th>
                <th>宅配方式</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">訂單明細</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div name="orderStatusDetail">
                <div class="modal-body">
                    <div class="form-group">
                        <label>訂單狀態</label>
                        <input type="text" class="form-control" id="orderStatus" name="orderStatus" disabled="disabled" />
                        <p style="margin:3px" id="changeStatus">
                            <button type="button" class="btn btn-info" data-status="出貨中" id="deliver" disabled>訂單出貨</button>
                            <button type="button" class="btn btn-success" data-status="已送達" id="recieved" disabled>訂單送達</button>
                            <button type="button" class="btn btn-danger" data-status="已取消" id="cancel" disabled>取消訂單</button>
                        </p>
                        <label>訂單編號</label>
                        <input type="text" class="form-control" id="orderID" disabled="disabled" name="orderID" />
                        <label>訂單日期</label>
                        <input type="text" class="form-control" id="orderDate" disabled="disabled" />
                        <label>出貨日期</label>
                        <input type="text" class="form-control" id="deliveredDate" disabled="disabled" />
                    </div>
                    <div>
                        <table id="orderdetail" class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th>序號</th>
                                    <th>商品</th>
                                    <th>數量</th>
                                    <th>價格</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="exportexcel">匯出訂單</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="savestatus" data-dismiss="modal">儲存變更</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const docfrag = $(document.createDocumentFragment())
        $("#exportexcel").on("click", function () {
            const orderid = $("#orderID").val()
            window.open("/ShipperExport/SingleExport/?orderid=" + orderid)
        })
        $('#btnsearch').on('click', function () { search() })
        $('#btnclear').on('click', function () {
            $('#SelDelMin').val('@(DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd"))')
            $('#SelDelMax').val(new Date().toJSON().slice(0, 10))
            $('#SelOrderMin').val('@(DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd"))')
            $('#SelOrderMax').val('@(DateTime.Today.AddMinutes(1).ToString("yyyy-MM-dd"))')
            $("#SelOrderStatus option[value='訂單狀態']").prop("selected", "selected")
            $("#SelRecieveMethod option[value='送貨方式']").prop("selected", "selected")
            $('#SelOrderID').val("")
            $('#SelMember').val("")
            $('#SelPhone').val("")
            $('#SelEmail').val("")
            search()
        })


            search()


        async function search() {

            const formconditions = new FormData(document.conditions)

            console.log(formconditions)
            var response = await fetch('/Order/conditions', { method: 'post', body: formconditions })
            var data = await response.json()
            var count = 0
            console.log("確認:"+data)
            data.forEach(items => {
                count = count + 1

                const tID1 = $('<td></td>').html('<button  class="btn btn-secondary mr-3 tdedit"  data-toggle="modal" data-target="#exampleModal" id=' + items.orderId + '><i class="fas fa-pen-nib"></i></button>')
                const tID2 = $('<td></td>').text(count)
                const tID3 = $('<td></td>').text(items.orderId)
                const tID4 = $('<td></td>').text(items.memberId)
                const tID5 = $('<td></td>').text(items.member)
                const tID6 = $('<td></td>').text(items.cellNumber)
                const tID7 = $('<td></td>').text(items.orderDate)
                const tID8 = $('<td></td>').text(items.deliveredDate)
                const tID9 = $('<td></td>').text(items.orderStatus)
                const tID10 = $('<td></td>').text(items.recieveMethod)
                // const tID9 = $('<td class="tdedit"></td>').html()
                //const tID10 = $('<td></td>').html('<button class="btn btn-danger tddelete" id=' + items.ingredientId +'><i class="fas fa-trash-alt"></i></button>')
                const row = $('<tr></tr>').append([tID1], [tID2], [tID3], [tID4], [tID5], [tID6], [tID7], [tID8], [tID9], [tID10])
                docfrag.append(row)
            })


            console.log(data)
            $('#datatablesSimple>tbody').html(docfrag)
        }

        $('#conditions').on('change', $('#SelOrderStatus'), function () {
            // console.log('changed')
            //console.log($('#SelOrderStatus').val())
            if ($('#SelOrderStatus').val() == '出貨中' || $('#SelOrderStatus').val() == '已送達') {
                $('#SelDelMin').prop('disabled', false)
                $('#SelDelMax').prop('disabled', false)
            }
            else {
                $('#SelDelMin').prop('disabled', true)
                $('#SelDelMax').prop('disabled', true)


                $('#SelDelMin').val('@(DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd"))')
                $('#SelDelMax').val('@(DateTime.Today.AddMinutes(1).ToString("yyyy-MM-dd"))')
            }
        })


        $('#datatablesSimple>tbody').on('click', '.tdedit', function () {
           // console.log($(this).children())
            getorderdetail(Number($(this).prop('id')))

        })


             async function getorderdetail(orderID)
             {
                 $('#orderStatus').val("")
                 $('#orderDate').val("")
                 $('#deliveredDate').val("")

                 $('#orderID').val(orderID)
                 $('#orderdetail>tbody').html()
                 var totalprice=0
                 //console.log(orderID)
                 const response = await fetch("/Order/EditOrderStatus/?orderID=" + orderID, { method: 'Get' })
                 const datas = await response.json()
                 var count = 0

                 await  datas.forEach(items => {
                     count = count + 1
                    // console.log('enter')
                     //console.log(items.orderStatus)
                     $('#orderStatus').val(items.orderStatus)
                     $('#orderDate').val(items.orderDate)
                     $('#deliveredDate').val(items.deliveredDate)
                    // console.log(items)
                     const tID1 = $('<td></td>').text(count)
                    // console.log(items.ingredient)
                     const tID2 = $('<td class="Ingid"></td>').text(items.ingredient)
                     const tID3 = $('<td></td>').text(items.inCartQuantity)
                     const tID4 = $('<td class="text-end"></td>').text(items.price)
                     const row = $('<tr></tr>').append([tID1], [tID2], [tID3], [tID4])
                     row.on("click", function ()
                     {
                         const IngName = $(this).find(".Ingid").text()
                         console.log(IngName)
                        
                         window.open("/Ingredient/SessionDemoSend/?SelKeywords=" + IngName)
                     })
                     docfrag.append(row)
                     console.log(items.inCartQuantity)
                     console.log(items.price)
                     totalprice = Number(items.inCartQuantity) * Number(items.price) + totalprice

                 })
                 if ($('#orderStatus').val() == '出貨中') {
                     $('#deliver').attr('disabled', true)
                     $('#recieved').attr('disabled', false)
                     $('#cancel').attr('disabled', false)
                 }
                 else if( $('#orderStatus').val() == '待付款') {
                     $('#deliver').attr('disabled', true)
                     $('#recieved').attr('disabled', true)
                     $('#cancel').attr('disabled', false)
                 }
                 else if ($('#orderStatus').val() == '已付款') {
                     $('#deliver').attr('disabled', false)
                     $('#recieved').attr('disabled', true)
                     $('#cancel').attr('disabled', false)
                 }
                 else if ($('#orderStatus').val() == '已送達')
                 {
                     $('#deliver').attr('disabled', true)
                     $('#recieved').attr('disabled', true)
                     $('#cancel').attr('disabled', false)
                     console.log($('#deliveredDate').val())
                     var startdate = new Date($('#deliveredDate').val())
                     console.log(startdate)
                     var today = new Date()
                     console.log(today)
                     var iDays = parseInt(Math.abs(today - startdate) / 1000 / 60 / 60 / 24)
                     if (iDays > 7)
                     {
                         $('#cancel').attr('disabled', true)
                     }
                 }
                 else if ($('#orderStatus').val() == '已取消')
                 {
                     $('#deliver').attr('disabled', true)
                     $('#recieved').attr('disabled', true)
                     $('#cancel').attr('disabled', true)
                 }

                 console.log(docfrag)
                 console.log('1')
                 const lasttID0 = $('<td colspan="3"></td>').text("總價")
                 const lasttID1 = $('<td class="text-end"></td>').text("$"+totalprice)
                 const lastrow = $('<tr></tr>').append([lasttID0], [lasttID1])
                 await docfrag.append(lastrow)
                 console.log(lastrow)
                 await $('#orderdetail>tbody').html(docfrag)

             }

        $('#changeStatus button').on('click', function () {
            //console.log($(this).data('status'))
            if ($(this).data('status') == "已取消") {
                var check = confirm('此訂單即將取消')
                if(check)
                $('#orderStatus').val($(this).data('status'))
            }
            else
            {
            $('#orderStatus').val($(this).data('status'))
            }
            if ($('#orderStatus').val() == "出貨中")
            {
                $('#deliveredDate').val('@(DateTime.Now.ToLocalTime().ToString("yyyy-MM-ddTHH:mm:ss"))')
            }
        })
        $('#savestatus').on('click', function () {

            savestatus()

        })
        async function savestatus()
        {
            var formdatadetail = new FormData()
            formdatadetail.append('orderStatus', $('#orderStatus').val())
            formdatadetail.append('orderID', $('#orderID').val())
            formdatadetail.append('deliveredDate', $('#deliveredDate').val())

            await fetch("/Order/EditOrderStatus", { method: 'Post', body: formdatadetail }).then(response => { search() }).catch(error => { alert("狀態變更失敗") })

        }

        $("#btnexcel").on("click", function () {
            var web = "/ShipperExport/GroupExport/"
            const orderstatus = $("#SelOrderStatus").val()
            web += "?SelOrderStatus=" + orderstatus

            if ($("#SelOrderID").val() != null) {
                const orderid = $("#SelOrderID").val()
                web += "&SelOrderID=" + orderid
            }
            if ($("#SelPhone").val() != null) {
                const phone = $("#SelPhone").val()
                web += "&SelPhone=" + phone
            }
            if ($("#SelEmail").val() != null) {
                const email = $("#SelEmail").val()
                web += "&SelEmail=" + email
            }
            if ($("#SelMember").val() != null) {
                const member = $("#SelMember").val()
                web += "&SelMember=" + member
            }

            const ordermin = $("#SelOrderMin").val()
            web += "&SelOrderMin=" + ordermin
            const ordermax = $("#SelOrderMax").val()
            web += "&SelOrderMax=" + ordermax
            const delmax = $("#SelDelMax").val()
            web += "&SelDelMax=" + delmax
            const delmin = $("#SelDelMin").val()
            web += "&SelDelMin=" + delmin




            window.open(web)

        })
    </script>



}