@model prjDelicious.Models.Taccusation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Taccusation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccusedAvatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccusedAvatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccusedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccusedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accuse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accuse.Accusation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.AccountName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccusationRightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
