@model IEnumerable<Management.ViewModel.CMemberFeedbackcs>

@{
    ViewData["Title"] = "Index";
}


<div class="h3 bgmainbar text-center">客服回報頁面</div>
<p>

</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.FeedbackId)*@
            </th>
            <th>
                會員編號
                @*@Html.DisplayNameFor(model => model.MemberId)*@
            </th>
            <th>
                回報分類
                @*@Html.DisplayNameFor(model => model.FeedbackCategory)*@
            </th>
            <th>
                回報內容
                @*@Html.DisplayNameFor(model => model.Contents)*@
            </th>
            <th>
                客服評價
                @*@Html.DisplayNameFor(model => model.Comment)*@
            </th>
            <th>
                回報時間
                @*@Html.DisplayNameFor(model => model.FeedbackDate)*@
            </th>
            <th>
                客訴照片
                @*@Html.DisplayNameFor(model => model.Picture)*@
            </th>
            <th>
                處理進度
                @*@Html.DisplayNameFor(model => model.ProgressContent)*@
            </th>
            <th>
                客服回應
                @*@Html.DisplayNameFor(model => model.FeedbackContent)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.FeedbackId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)星
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgressContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackContent)
                </td>
                <td>
                    <a asp-action="ReplyFeedBack" asp-route-id="@item.FeedbackId">回復</a> @*|
                        <a asp-action="Delete" asp-route-id="@item.FeedbackId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
